openapi: 3.0.1
info:
  description: Endpoints REST exposés par les LRM externes à destination du SI-SAMU
  title: API REST des LRM externes
  version: v1
servers:
- url: http://localhost:8081/lrm/api
- url: https://localhost:8081/lrm/api
tags:
- name: lrm
paths:
  /v1/cti/{idCrra}/agents/{idNatPs}/calls:
    post:
      description: Appel Entrant.
      operationId: appelEntrant
      parameters:
      - description: Identifiant du CRRA
        in: path
        name: idCrra
        required: true
        schema:
          pattern: "^FR[0-9][0-9AB]{2}$"
          type: string
      - description: Identifiant de l'agent
        in: path
        name: idNatPs
        required: true
        schema:
          maxLength: 32
          minLength: 0
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppelEntrant'
        description: Information de l'appel
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: post
      tags:
      - lrm
      x-codegen-request-body-name: body
      x-eov-operation-handler: controllers/LrmController
  /v1/cti/{idCrra}/dossiers/{idDossier}:
    post:
      description: Afficher le dossier.
      operationId: afficherDossier
      parameters:
      - description: Identifiant du CRRA
        in: path
        name: idCrra
        required: true
        schema:
          pattern: "^FR[0-9][0-9AB]{2}$"
          type: string
      - description: Identifiant du dossier
        in: path
        name: idDossier
        required: true
        schema:
          maxLength: 25
          minLength: 0
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AffichageDossier'
        description: Information du dossier
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: post
      tags:
      - lrm
      x-codegen-request-body-name: body
      x-eov-operation-handler: controllers/LrmController
components:
  schemas:
    AppelEntrant:
      description: Information d'un appel entrant
      example:
        nePasExecuter: true
        idAppel: idAppel
        idFlux: idFlux
        numTel: numTel
      properties:
        numTel:
          description: Numéro de téléphone de l’appelant.
          pattern: "^(([#\\+\\*]|37000)?[0-9]{2,15}|\\*\\*\\*)$"
          type: string
        idAppel:
          description: Identifiant de la communication (interne SI-SAMU)
          maxLength: 64
          minLength: 0
          type: string
        idFlux:
          description: |-
            Identifiant du flux, au format : {id CRRA}-{flux}-{salle}-{prio}-{fo}.
            fo = niveau front office : F01|F02;
            prio = priorité : Px|UV pour FO1, P[0-3] pour FO2;
            salle = CoordAmb, SuiviOp, Crise, Samu, 15, Malv... pour FO1, ML|MU|MUCrise|T2 pour FO2;
            flux = 15, 112, 116117, Amb, Smur, PRO... pour FO1, FluxStd pour FO2
          maxLength: 32
          minLength: 0
          type: string
        nePasExecuter:
          description: Indique au LRM si le traitement du service AppelEntrant est
            attendu ou non. false = Exécuter / true = Ne pas Exécuter
          type: boolean
      required:
      - idAppel
      - idFlux
      - numTel
      type: object
    AffichageDossier:
      description: Information pour l'affichage d'un dossier
      example:
        idNatPs: idNatPs
        idAppel: idAppel
        numTel: numTel
      properties:
        numTel:
          description: Numéro de téléphone de l’appelant.
          pattern: "^([#\\+\\*]|37000)?[0-9]{2,15}$"
          type: string
        idAppel:
          description: Identifiant de la communication (interne SI-SAMU)
          maxLength: 64
          minLength: 0
          type: string
        idNatPs:
          description: Identifiant national de l’agent
          maxLength: 32
          minLength: 0
          type: string
      required:
      - idNatPs
      type: object
    Error:
      description: Error
      properties:
        message:
          description: message
          type: string
        code:
          description: code
          type: string
      type: object
x-original-swagger-version: "2.0"
